# Configurações do Flask
FLASK_SECRET_KEY=
JWT_SECRET_KEY=

# Credenciais de Admin
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Banco de dados
# Local: deixe vazio para usar SQLite (src/database/app.db)
DATABASE_URL=